.wfull{width: 100%;}
.tengah{margin: 0px auto;}
.fleft{float: left;}
.fright{float: right;}
.prelatife{position: relative;}
/* margin */
.margin-0{margin: 0px;}
.margin-5{margin: 5px;}.margin-10{margin: 10px;}
.margin-15{margin: 15px;}.margin-20{margin: 20px;}
.margin-25{margin: 25px;}.margin-30{margin: 30px;}
.margin-35{margin: 35px;}.margin-40{margin: 40px;}
.margin-45{margin: 45px;}.margin-50{margin: 50px;}
.margin-55{margin: 55px;}.margin-60{margin: 60px;}

/* margin top */
.margin-top-5{margin-top: 5px;}.margin-top-10{margin-top: 10px;}
.margin-top-15{margin-top: 15px;}.margin-top-20{margin-top: 20px;}
.margin-top-25{margin-top: 25px;}.margin-top-30{margin-top: 30px;}
.margin-top-35{margin-top: 35px;}.margin-top-40{margin-top: 40px;}
.margin-top-45{margin-top: 45px;}.margin-top-50{margin-top: 50px;}
.margin-top-55{margin-top: 55px;}.margin-top-60{margin-top: 60px;}

/* margin left */
.margin-left-5{margin-left: 5px;}.margin-left-10{margin-left: 10px;}
.margin-left-15{margin-left: 15px;}.margin-left-20{margin-left: 20px;}
.margin-left-25{margin-left: 25px;}.margin-left-30{margin-left: 30px;}
.margin-left-35{margin-left: 35px;}.margin-left-40{margin-left: 40px;}
.margin-left-45{margin-left: 45px;}.margin-left-50{margin-left: 50px;}
.margin-left-55{margin-left: 55px;}.margin-left-60{margin-left: 60px;}

/* margin bottom */
.margin-bottom-5{margin-bottom: 5px;}.margin-bottom-10{margin-bottom: 10px;}
.margin-bottom-15{margin-bottom: 15px;}.margin-bottom-20{margin-bottom: 20px;}
.margin-bottom-25{margin-bottom: 25px;}.margin-bottom-30{margin-bottom: 30px;}
.margin-bottom-35{margin-bottom: 35px;}.margin-bottom-40{margin-bottom: 40px;}
.margin-bottom-45{margin-bottom: 45px;}.margin-bottom-50{margin-bottom: 50px;}
.margin-bottom-55{margin-bottom: 55px;}.margin-bottom-60{margin-bottom: 60px;}

/* margin right */
.margin-right-5{margin-right: 5px;}.margin-right-10{margin-right: 10px;}
.margin-right-15{margin-right: 15px;}.margin-right-20{margin-right: 20px;}
.margin-right-25{margin-right: 25px;}.margin-right-30{margin-right: 30px;}
.margin-right-35{margin-right: 35px;}.margin-right-40{margin-right: 40px;}
.margin-right-45{margin-right: 45px;}.margin-right-50{margin-right: 50px;}
.margin-right-55{margin-right: 55px;}.margin-right-60{margin-right: 60px;}

/* padding */
.padding-5{padding: 5px;}.padding-10{padding: 10px;}
.padding-15{padding: 15px;}.padding-20{padding: 20px;}
.padding-25{padding: 25px;}.padding-30{padding: 30px;}
.padding-35{padding: 35px;}.padding-40{padding: 40px;}
.padding-45{padding: 45px;}.padding-50{padding: 50px;}
.padding-55{padding: 55px;}.padding-60{padding: 60px;}

/* padding top */
.padding-top-5{padding-top: 5px;}.padding-top-10{padding-top: 10px;}
.padding-top-15{padding-top: 15px;}.padding-top-20{padding-top: 20px;}
.padding-top-25{padding-top: 25px;}.padding-top-30{padding-top: 30px;}
.padding-top-35{padding-top: 35px;}.padding-top-40{padding-top: 40px;}
.padding-top-45{padding-top: 45px;}.padding-top-50{padding-top: 50px;}
.padding-top-55{padding-top: 55px;}.padding-top-60{padding-top: 60px;}

/* padding left */
.padding-left-5{padding-left: 5px;}.padding-left-10{padding-left: 10px;}
.padding-left-15{padding-left: 15px;}.padding-left-20{padding-left: 20px;}
.padding-left-25{padding-left: 25px;}.padding-left-30{padding-left: 30px;}
.padding-left-35{padding-left: 35px;}.padding-left-40{padding-left: 40px;}
.padding-left-45{padding-left: 45px;}.padding-left-50{padding-left: 50px;}
.padding-left-55{padding-left: 55px;}.padding-left-60{padding-left: 60px;}

/* padding bottom */
.padding-bottom-5{padding-bottom: 5px;}.padding-bottom-10{padding-bottom: 10px;}
.padding-bottom-15{padding-bottom: 15px;}.padding-bottom-20{padding-bottom: 20px;}
.padding-bottom-25{padding-bottom: 25px;}.padding-bottom-30{padding-bottom: 30px;}
.padding-bottom-35{padding-bottom: 35px;}.padding-bottom-40{padding-bottom: 40px;}
.padding-bottom-45{padding-bottom: 45px;}.padding-bottom-50{padding-bottom: 50px;}
.padding-bottom-55{padding-bottom: 55px;}.padding-bottom-60{padding-bottom: 60px;}

/* padding right */
.padding-right-5{padding-right: 5px;}.padding-right-10{padding-right: 10px;}
.padding-right-15{padding-right: 15px;}.padding-right-20{padding-right: 20px;}
.padding-right-25{padding-right: 25px;}.padding-right-30{padding-right: 30px;}
.padding-right-35{padding-right: 35px;}.padding-right-40{padding-right: 40px;}
.padding-right-45{padding-right: 45px;}.padding-right-50{padding-right: 50px;}
.padding-right-55{padding-right: 55px;}.padding-right-60{padding-right: 60px;}


/* height */
.height-0{height: 0px;}
.height-2{height: 2px;}
.height-3{height: 3px;}
.height-4{height: 4px;}
.height-5{height: 5px;} .height-10{height: 10px;}
.height-15{height: 15px;}.height-20{height: 20px;}
.height-25{height: 25px;}.height-30{height: 30px;}
.height-35{height: 35px;}.height-40{height: 40px;}
.height-45{height: 45px;}.height-50{height: 50px;}
.height-55{height: 55px;}.height-60{height: 60px;}