/*----------------- Responsive ---------------------*/
@media (max-width: 1400px){
	
	.h165{
		height: 100px;
	}
	.psab-bottm-footer{
		position: relative;
	}
	.disables_c{
		height: 20px;
	}

}

@media (max-width: 1300px){

	.wrapper{
		/*margin: 0 3em;*/
	}
	.container{
		/*max-width: inherit;*/
		/*width: 100%;*/
		border: none;
		/*padding: 0 15px;*/
	}
	

}
@media (max-width: 1200px){
	
	.wrapper{margin: 0px;}

	.lgo-web-cenz {
	    margin-left: 4em;
	}
	
}

/* Large desktop */
@media (max-width : 1135px){
	
	.container{
		max-width: inherit;
		width: 100%;
		border: none;
		padding: 0 15px;
	}

	.lgo-web-cenz {
	    margin-left: 4em;
	}

}
/*(max-width : 1024px) and*/
@media (max-width: 1200px){
	
}

@media (max-width : 1002px) {

}

@media (max-width: 980px){
	
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	

}

@media (min-width: 768px){
	
}

@media (max-width: 768px){
	
	

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	
	.outer-colsn-height100 .row .col-md-9, .outer-colsn-height100 .row .col-md-3, .outer-colsn-height100 .row, .outer-colsn-height100{
		height: auto;
	}
	.lgo-web-cenz{ margin: 0; }
	.tagline-hwebs img,
	.lgo-web-cenz img{ display: block; margin: 0 auto; text-align: center; }
	a.download-brosur{
		text-align: center; display: block;
	}
	span.txt-bottomcompany-p{ text-align: center; }
	.outer-colsn-height100 .col-sm-8 .height-50{
		height: 25px;
	}
	.mw-350{ text-align: center; margin: 0 auto; }
	.mw-350 .col-sm-4 img{ margin-bottom: 1.5em; }
	.psab-bottm-footer{ position: relative; margin-top: 1.2em; text-align: center; }
	.outer-colsn-height100 .col-md-3 .height-50{ height: 30px; }

}

/* Landscape phone to portrait tablet */
@media (max-width: 600px) {
	
	

}

/* Landscape phones and down */
@media (max-width: 480px) {
	
	
}

@media (max-width: 360px) {

}

@media (max-width: 358px) {
	
	

}